[Desktop Entry]
Name=Tihulu Media Source Controller
Comment=Choose which media source your media keys control
Type=Application
Icon=multimedia-player
Exec=tihulu-media-source-controller %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC;Media;Keys;MPRIS;Pop!_OS;Playerctl;Tihulu
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
MimeType=
